@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Sales_NET8.Web.Entities.Country

@{
    ViewData["Title"] = "Excluir País";
}

<h1>Excluir País</h1>

<h3>Tem certeza de que deseja excluir este?</h3>
<div>
    <partial name="_Country" />
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>

